# venv
.venv/
.env/

# python cache
__pycache__/
*.py[cod]
*.pyo
*.pyc
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/

# logs
logs/
*.log
configs/

# MkDocs (local build - CI generated)
site/

# OS
.DS_Store
Thumbs.db